<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tareascrear.css' %}">
    <title>Crear</title>
</head>

<body>
    <div class="content">

        <form method="post">
            <section class="options">
                <a href="/tareas/tareas/" class="cancelbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="currentColor">
                        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
                    </svg>
                    <p class="text">Atrás</p>
                </a>
                <button type="submit">Guardar</button>
            </section>
            {% csrf_token %}
            {{form}}
        </form>
    </div>

    <script>
        const input = document.getElementsByName("titulo")
        const text = document.getElementsByName("descripcion")

        input.forEach(i => {
            i.setAttribute("placeholder", "Título")
        })

        text.forEach(i => {
            i.setAttribute("placeholder", "Descripción")
        })
        console.log(input)
    </script>

</body>

</html>